<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fasterflect" version="3.0.0" targetFramework="net472" />
  <package id="Fody" version="6.8.0" targetFramework="net48" developmentDependency="true" />
  <package id="HarmonyX" version="2.10.2" targetFramework="net472" />
  <package id="ModuleInit.Fody" version="2.1.1" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="MonoMod.RuntimeDetour" version="22.3.23.4" targetFramework="net472" />
  <package id="MonoMod.Utils" version="22.3.23.4" targetFramework="net472" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>